<!DOCTYPE html>
<html lang="en">

<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- title -->
    <title>Donoresclub</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="assets/img/logo/logo1.png">

    <!-- css -->
    <link href="~/Content/Front/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Front/assets/css/all-fontawesome.min.css">
    <link rel="stylesheet" href="~/Content/Front/assets/css/flaticon.css">
    <link rel="stylesheet" href="~/Content/Front/assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/Front/assets/css/magnific-popup.min.css">
    <link rel="stylesheet" href="~/Content/Front/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/Front/assets/css/style.css">

</head>

<body>

    <!-- preloader -->
    <div class="preloader">
        <div class="loader">
            <div class="loader-box-1"></div>
            <div class="loader-box-2"></div>
        </div>
    </div>
    <!-- preloader end -->
    <!-- header area -->
    <header class="header">
        <div class="main-navigation">
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.asp">
                        <img src="~/Content/Front/assets/img/logo/logo1.png" alt="logo">
                        <!-- <h2 class="text-white">Logo</h2> -->
                    </a>
                    <div class="mobile-menu-right">
                        <a href="#" class="mobile-search-btn search-box-outer"><i class="far fa-search"></i></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                                data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"><i class="far fa-stream"></i></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="main_nav">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link " href="#" data-bs-toggle="dropdown">Home</a>

                            </li>
                            <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">Service</a></li>

                            <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                            <li class="nav-item"><a class="nav-link" href="assets/img/dono.pdf">Business plane</a></li>

                        </ul>
                        <div class="header-nav-right">
                            <div class="header-nav-search">
                                <a href="#" class="search-box-outer"><i class="far fa-search"></i></a>
                            </div>
                            <div class="header-btn">
                                <a href="login.asp" class="theme-btn">Login</a>
                            </div>
                            <div class="header-btn">
                                <a href="register.asp" class="theme-btn">Register</a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- header area end -->
    <!-- popup search -->
    <div class="search-popup">
        <button class="close-search"><span class="far fa-times"></span></button>
        <form action="#">
            <div class="form-group">
                <input type="search" name="search-field" placeholder="Search Here..." required>
                <button type="submit"><i class="far fa-search"></i></button>
            </div>
        </form>
    </div>

    @RenderBody()


    <!-- footer area -->
    <footer class="footer-area shape-5">
        <div class="footer-widget">
            <div class="container">
                <div class="row footer-widget-wrapper pt-100 pb-70">
                    <div class="col-md-6 col-lg-4">
                        <div class="footer-widget-box about-us">
                            <a href="#" class="footer-logo">
                                <img src="~/Content/Front/assets/img/logo/logo1.png" alt="">
                                <!-- <h2 class="text-white mb-3">Logo</h2> -->
                            </a>
                            <p class="mb-20">
                                We are many variations of passages available but the majority have suffered alteration
                                in some form by injected humour.
                            </p>
                            <div class="footer-contact">
                                <ul>
                                    <li><i class="far fa-map-marker-alt"></i>25/B Milford Road, New York, USA</li>
                                    <li><a href="tel:+21236547898"><i class="far fa-phone"></i>+911234567891</a></li>
                                    <li>
                                        <a href="#">
                                            <i class="far fa-envelope"></i><span class="__cf_email__" data-cfemail="63101613130c111723061b020e130f064d000c0e">[email&#160;protected]</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="footer-widget-box about-us">
                            <h4 class="footer-widget-title">Quick Links</h4>
                            <ul class="footer-list">
                                <li><a href="#"><i class="fas fa-caret-right"></i> About Us</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Service</a></li>

                                <li><a href="#"><i class="fas fa-caret-right"></i> Contact Us</a></li>

                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-2">
                        <div class="footer-widget-box list mt-5">
                            <ul class="footer-list  m-4">
                                <li class="mt-5"><a href="#"><i class="fas fa-caret-right"></i> Login</a></li>
                                <li><a href="#"><i class="fas fa-caret-right"></i> Register</a></li>


                            </ul>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4">
                        <div class="footer-widget-box list">
                            <h4 class="footer-widget-title">Newsletter</h4>
                            <div class="footer-newsletter">
                                <p>Subscribe Our Newsletter To Get Latest Update And News, Stay Connected With Us.</p>
                                <div class="subscribe-form">
                                    <form action="#">
                                        <div class="form-group">
                                            <input type="email" class="form-control" placeholder="Your Email">
                                            <button class="theme-btn" type="submit">
                                                Subscribe <i class="far fa-paper-plane"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <ul class="footer-social">
                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fab fa-x-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 align-self-center">
                        <p class="copyright-text">
                            &copy; Copyright <span id="date"></span> <a href="#"> Helphand </a> All Rights Reserved.
                        </p>
                    </div>
                    <div class="col-lg-6 align-self-center">
                        <ul class="footer-menu">
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Terms Of Services</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer area end -->
    <!-- scroll-top -->
    <a href="#" id="scroll-top"><i class="far fa-long-arrow-up"></i></a>
    <!-- scroll-top end -->
    <!-- js -->
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script src="~/Content/Front/assets/js/jquery-3.6.0.min.js"></script>
    <script src="~/Content/Front/assets/js/modernizr.min.js"></script>
    <script src="~/Content/Front/assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/Front/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="~/Content/Front/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Front/assets/js/isotope.pkgd.min.js"></script>
    <script src="~/Content/Front/assets/js/jquery.appear.min.js"></script>
    <script src="~/Content/Front/assets/js/jquery.easing.min.js"></script>
    <script src="~/Content/Front/assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/Front/assets/js/counter-up.js"></script>
    <script src="~/Content/Front/assets/js/countdown.min.js"></script>
    <script src="~/Content/Front/assets/js/chart.min.js"></script>
    <script src="~/Content/Front/assets/js/wow.min.js"></script>
    <script src="~/Content/Front/assets/js/main.js"></script>

</body>


</html>