@model donorclub.Models.ForgetPasswordModel
@using LudoFoundation_app.CommanFunction
@{
    UserInfo userInfo = Common.CurrentUserInfo;

    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- forgot password -->
<div class="login-area py-120 mt-5">
    <div class="container">
        <div class="col-md-5 mx-auto">
            <div class="login-form wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                 data-wow-delay=".25s">
                <div class="login-header">
                    <img src="~/Content/Front/assets/img/logo/logo1.png" alt="">
                    <!-- <h3>Forgot Password</h3> -->
                    <p>reset your OpenHand account password</p>
                </div>
                @if (TempData["ForgetPassAlert"] != null)
                {
                    <div class="error-box">
                        <div class="alert alert-danger">@TempData["ForgetPassAlert"]</div>
                    </div>
                }
                @using (Html.BeginForm("ForgotPassword", "Home", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", @class = "send-form-style2 send-form-style" }))
                {
                    @Html.ValidationSummary(true)
            <div class="form-group">
                <label>Username</label>
                @Html.TextBoxFor(model => model.username, new { @class = "form-control", @placeholder = "Enter Your User ID", @maxLength = "30" })
                @Html.ValidationMessageFor(model => model.username, "", new { @style = "color:red;" })
            </div>
                    <div class="d-flex align-items-center">
                        <button type="submit" class="theme-btn">Get Password <i class="far fa-key"></i></button>
                    </div>

                }
                <div class="social-login my-4">

                    <a href="index.asp" class="btn-t">Home </a>
                    <a href="login.asp" class="btn-t">Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- forgot password end -->
