
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--#INCLUDE FILE="head.asp"-->

<main class="main">

    <!-- hero area -->
    <div class="hero-section">
        <div class="hero-wrapper">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-md-6 col-lg-6">
                        <div class="hero-content">
                            <!-- <h6 class="hero-sub-title wow animate__animated animate__fadeInUp"
                                    data-wow-duration="1s" data-wow-delay=".25s">
                                    Take Control Of Your Money
                                </h6> -->
                            <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                                data-wow-delay=".50s">
                                HELP BEGINS WITH A <span>SINGLE STEP</span>
                            </h1>
                            <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                               data-wow-delay=".75s">
                                Welcome to Donoresclub — a place where compassion meets action.
                                Join us in building stronger, kinder communities by reaching out a hand to those in
                                need.
                            </p>
                            <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                                 data-wow-delay="1s">
                                <a href="/Home/SignIn" class="theme-btn">Join OpenHand</a>
                                <a href="/Home/SignUp" class="theme-btn">Register</a>
                                <!-- <div class="video-btn">
                                        <a href="https://www.youtube.com/watch?v=ckHzmP1evNU"
                                            class="play-btn popup-youtube"><i class="fas fa-play"></i></a>
                                    </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="hero-img wow animate__animated animate__fadeInRight" data-wow-duration="1s"
                             data-wow-delay=".25s">
                            <img src="~/Content/Front/assets/img/hero/hero.png" alt="">


                        </div>
                    </div>
                </div>
            </div>
            <div class="hero-shape">
                <div class="hero-shap-1"></div>
                <img class="hero-shape-2" src=~/Content/Front/"assets/img/shape/1.svg" alt="">
            </div>
        </div>
    </div>
    <!-- hero area end -->
    <!-- sale countdown -->
    <!-- <div class="sale-countdown">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <div class="sale-countdown-content wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay=".25s">
                            <h4 class="sale-countdown-title">Pre Sale <span>Ends</span></h4>
                            <div class="countdown countdown-wrap my-4"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- <div class="col-md-6 mx-auto">
                        <div class="sale-countdown-content wow animate__ animate__fadeInUp animated" data-wow-duration="1s" data-wow-delay=".25s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.25s; animation-name: fadeInUp;">
                            <h4 class="sale-countdown-title">Pre Sale <span>Ends</span></h4>
                            <div class="countdown countdown-wrap my-4"><div class="row"><div class="col countdown-single"><h2 class="mb-0">1676</h2><h5 class="mb-0">Days</h5></div><div class="col countdown-single"><h2 class="mb-0">06</h2><h5 class="mb-0">Hours</h5></div><div class="col countdown-single"><h2 class="mb-0">53</h2><h5 class="mb-0">Minutes</h5></div><div class="col countdown-single"><h2 class="mb-0">28</h2><h5 class="mb-0">Seconds</h5></div></div></div>
                        </div>
                    </div> -->
    <!-- live sale countdown end -->
    <!-- about area -->
    <div class="about-area ">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-left wow animate__animated animate__fadeInLeft" data-wow-duration="1s"
                         data-wow-delay=".25s">
                        <div class="about-img">
                            <img src="~/Content/Front/assets/img/about/01.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-right wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                         data-wow-delay=".25s">
                        <div class="site-heading mb-3">
                            <span class="site-title-tagline">About Us</span>
                            <!-- <h2 class="site-title">We Offer Best <span>ICO Crypto Solutions</span> For Your Profit
                                </h2> -->
                        </div>
                        <p class="about-text">
                            Donoresclub is a nonprofit community organization dedicated to helping those in need through
                            compassion,
                            collaboration, and action. From food distribution and education to mental health support and
                            shelter assistance,
                            our mission is to uplift lives and build resilient communities.
                        </p>
                        <div class="about-list-wrapper">
                            <ul class="about-list list-unstyled">
                                <li>
                                    <div class="icon"><span class="fas fa-check-circle"></span></div>
                                    <div class="text">
                                        <p>We are Ucan Asia & we are passionate to help others.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon"><span class="fas fa-check-circle"></span></div>
                                    <div class="text">
                                        <p>We helps peoples to boost their financial freedom.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon"><span class="fas fa-check-circle"></span></div>
                                    <div class="text">
                                        <p>
                                            worldwide to connect those who NEED help with those who are willing to
                                            PROVIDE help, for FREE.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a href="index.html" class="theme-btn">About View</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about area end -->
    <!-- choose area -->
    <div class="choose-area bg py-120 shape-1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="choose-content wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                         data-wow-delay=".25s">
                        <div class="site-heading mb-3">
                            <span class="site-title-tagline">Our Vision</span>
                            <!-- <h2 class="site-title my-3">We Translate <span>Your Future Dream</span> Into Reality
                                </h2> -->
                        </div>
                        <p>
                            We envision a world where every individual has access to basic needs, support, and
                            opportunities to thrive. OpenHands aims to bridge the gap between challenges and solutions
                            by creating a network of care and hope.
                        </p>

                        <div class="choose-content-wrapper">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="choose-item blur-bg-1">
                                        <div class="choose-item-img">
                                            <img src="~/Content/Front/assets/img/icon/internal-integration.svg" alt="">
                                        </div>
                                        <div class="choose-item-content">
                                            <h5>Community in Action</h5>
                                            <p>
                                                We believe real change starts at the grassroots level. Our volunteers
                                                and donors play a key role in delivering direct aid to those who need it
                                                most. From local drives to long-term empowerment programs, OpenHands is
                                                a platform where small acts of kindness lead to big transformations..
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="choose-item blur-bg-1">
                                        <div class="choose-item-img">
                                            <img src="~/Content/Front/assets/img/icon/experts-support.svg" alt="">
                                        </div>
                                        <div class="choose-item-content">
                                            <h5>Trust and Transparency</h5>
                                            <p>
                                                Trust is the foundation of every helping hand. At Donoresclub, we are
                                                committed to full transparency and accountability in all our efforts.
                                                Our community support programs are designed with integrity, and every
                                                donation is used to maximize impact.


                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-md-6">
                                        <div class="choose-item blur-bg-1">
                                            <div class="choose-item-img">
                                                <img src="assets/img/icon/low-cost.svg" alt="">
                                            </div>
                                            <div class="choose-item-content">
                                                <h5>Live Exchange Rate</h5>
                                                <p>
                                                    It is a long established fact that a reader.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="choose-item blur-bg-1">
                                            <div class="choose-item-img">
                                                <img src="assets/img/icon/security-storage.svg" alt="">
                                            </div>
                                            <div class="choose-item-content">
                                                <h5>Security Protection</h5>
                                                <p>
                                                    It is a long established fact that a reader.
                                                </p>
                                            </div>
                                        </div>
                                    </div> -->
                            </div>
                        </div>

                        <!-- <a href="#" class="theme-btn">Login</a> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="choose-img wow animate__animated animate__fadeInRight" data-wow-duration="1s"
                         data-wow-delay=".25s">
                        <img src="~/Content/Front/assets/img/choose/01.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- choose area end -->
    <!-- feature area -->
    <div class="feature-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                         data-wow-delay=".25s">
                        <span class="site-title-tagline">Service</span>
                        <!-- <h2 class="site-title">Benefits of <span>Using Cryptox</span></h2> -->
                        <div class="heading-divider"></div>
                        <!-- <p>
                                It is a long established fact that a reader will be distracted by the readable
                                content
                                of a page when looking at its layout.
                            </p> -->
                    </div>
                </div>
            </div>
            <div class="feature-area-wrapper">
                <div class="row">
                    <div class="col-md-6 col-lg-6">
                        <div class="feature-item blur-bg-1 wow animate__animated animate__fadeInUp"
                             data-wow-duration="1s" data-wow-delay=".25s">
                            <div class="feature-icon">
                                <img src="~/Content/Front/assets/img/icon/social-assistant.svg" alt="">
                            </div>
                            <div class="feature-content">
                                <h5>We Are Caring</h5>
                                <p>We always takes care of you and your downline members on behalf of you.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="feature-item blur-bg-1 wow animate__animated animate__fadeInUp"
                             data-wow-duration="1s" data-wow-delay=".50s">
                            <div class="feature-icon">
                                <img src="~/Content/Front/assets/img/icon/phone-analytics.svg" alt="">
                            </div>
                            <div class="feature-content">
                                <h5>Multi-Income</h5>
                                <p>We provides multiple incomes to our participants to achieve satisfaction.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="feature-item blur-bg-1 wow animate__animated animate__fadeInUp"
                             data-wow-duration="1s" data-wow-delay=".75s">
                            <div class="feature-icon">
                                <img src="~/Content/Front/assets/img/icon/block-chain.svg" alt="">
                            </div>
                            <div class="feature-content">
                                <h5>Modern Concept</h5>
                                <p>We always works with modern technologies and concepts.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-6">
                        <div class="feature-item blur-bg-1 wow animate__animated animate__fadeInUp"
                             data-wow-duration="1s" data-wow-delay=".25s">
                            <div class="feature-icon">
                                <img src="~/Content/Front/assets/img/icon/laptop-rocket.svg" alt="">
                            </div>
                            <div class="feature-content">
                                <h5>Awesome Support</h5>
                                <p>We have 24X7 support policy for our participants with live support.</p>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-md-6 col-lg-4">
                            <div class="feature-item blur-bg-1 wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                            data-wow-delay=".50s">
                                <div class="feature-icon">
                                    <img src="assets/img/icon/security-storage.svg" alt="">
                                </div>
                                <div class="feature-content">
                                    <h5>Safe and Secure</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="feature-item blur-bg-1 wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                            data-wow-delay=".75s">
                                <div class="feature-icon">
                                    <img src="assets/img/icon/exchange-balance.svg" alt="">
                                </div>
                                <div class="feature-content">
                                    <h5>Instant Exchange</h5>
                                    <p>It is a long established fact that a reader will be distracted by the readable
                                        content.</p>
                                </div>
                            </div>
                        </div> -->
                </div>
            </div>
        </div>
    </div>
    <!-- feature area end -->
    <!-- profit area -->
    <!-- <div class="profit-area bg py-120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="profit-img wow animate__animated animate__fadeInLeft" data-wow-duration="1s"
                        data-wow-delay=".25s">
                            <img src="assets/img/profit/01.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="profit-content wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                        data-wow-delay=".25s">
                            <div class="site-heading mb-3">
                                <span class="site-title-tagline">Profit</span>
                                <h2 class="site-title">Your Profit <span>With Cryptox</span></h2>
                            </div>
                            <p class="about-text">
                                There are many variations of passages of Lorem Ipsum available, but the majority have
                                suffered alteration in some form, by injected humour, or randomised words which don't
                                look even slightly believable. If you are going to use a passage of Lorem Ipsum, you
                                need to be sure there isn't anything embarrassing hidden in the middle of text.
                            </p>
                            <a href="#" class="theme-btn">Get Started</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
    <!-- profit area end -->
    <!-- road map -->
    <div class="road-map py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                         data-wow-delay=".25s">
                        <span class="site-title-tagline">Road Map</span>
                        <h2 class="site-title"> <span>Road Map</span></h2>
                        <div class="heading-divider"></div>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable
                            content
                            of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="road-map-timeline">
                    <ul class="road-map-timeline-list">
                        <li class="road-map-timeline-item wow animate__animated animate__fadeInUp"
                            data-wow-duration="1s" data-wow-delay=".25s">
                            <div class="road-map-item-single">
                                <div class="road-map-item-content blur-bg-2">
                                    <h3>January 15, 2024</h3>
                                    <div class="road-map-item-info">
                                        <h5>Idea Generation</h5>
                                        <p>
                                            There are many variations of passages available but the majority have
                                            suffered alteration injected.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="road-map-timeline-item wow animate__animated animate__fadeInUp"
                            data-wow-duration="1s" data-wow-delay=".35s">
                            <div class="road-map-item-single">
                                <div class="road-map-item-content blur-bg-2">
                                    <h3>February 20, 2024</h3>
                                    <div class="road-map-item-info">
                                        <h5>Market Research</h5>
                                        <p>
                                            There are many variations of passages available but the majority have
                                            suffered alteration injected.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="road-map-timeline-item wow animate__animated animate__fadeInUp"
                            data-wow-duration="1s" data-wow-delay=".45s">
                            <div class="road-map-item-single">
                                <div class="road-map-item-content blur-bg-2">
                                    <h3>March 12, 2024</h3>
                                    <div class="road-map-item-info">
                                        <h5>Business Plan</h5>
                                        <p>
                                            There are many variations of passages available but the majority have
                                            suffered alteration injected.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="road-map-timeline-item road-map-timeline-point wow animate__animated animate__fadeInUp"
                            data-wow-duration="1s" data-wow-delay=".55s">
                            <div class="road-map-item-single">
                                <div class="road-map-item-content blur-bg-2">
                                    <h3>April 29, 2024</h3>
                                    <div class="road-map-item-info">
                                        <h5>Start Development</h5>
                                        <p>
                                            There are many variations of passages available but the majority have
                                            suffered alteration injected.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="road-map-timeline-item road-map-timeline-point wow animate__animated animate__fadeInUp"
                            data-wow-duration="1s" data-wow-delay=".65s">
                            <div class="road-map-item-single">
                                <div class="road-map-item-content blur-bg-2">
                                    <h3>May 18, 2024</h3>
                                    <div class="road-map-item-info">
                                        <h5>Pre Sale Launch</h5>
                                        <p>
                                            There are many variations of passages available but the majority have
                                            suffered alteration injected.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="road-map-timeline-item road-map-timeline-point wow animate__animated animate__fadeInUp"
                            data-wow-duration="1s" data-wow-delay=".75s">
                            <div class="road-map-item-single">
                                <div class="road-map-item-content blur-bg-2">
                                    <h3>June 14, 2024</h3>
                                    <div class="road-map-item-info">
                                        <h5>Launch The Platform</h5>
                                        <p>
                                            There are many variations of passages available but the majority have
                                            suffered alteration injected.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- road map end -->
    <!-- faq area -->
    <div class="faq-area pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto">
                    <div class="site-heading text-center wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                         data-wow-delay=".25s">
                        <span class="site-title-tagline">Faq's</span>
                        <h2 class="site-title">General Asked <span>Questions</span></h2>
                        <div class="heading-divider"></div>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content
                            of a page when looking at its layout.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="faq-wrapper wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                     data-wow-delay=".25s">
                    <ul class="nav nav-pills justify-content-center" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <button class="nav-link active" id="faq-tab1" data-bs-toggle="pill" data-bs-target="#tab1"
                                    type="button" role="tab" aria-controls="tab1" aria-selected="true">
                                General
                            </button>
                        </li>
                        <!-- <li class="nav-item" role="presentation">
                                <button class="nav-link" id="faq-tab2" data-bs-toggle="pill"
                                    data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2"
                                    aria-selected="true">Token</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="faq-tab3" data-bs-toggle="pill"
                                    data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3"
                                    aria-selected="true">Bitcoin</button>
                            </li>
                            <li class="nav-item" role="presentation">
                                <button class="nav-link" id="faq-tab4" data-bs-toggle="pill"
                                    data-bs-target="#tab4" type="button" role="tab" aria-controls="tab4"
                                    aria-selected="true">Crypto</button>
                            </li> -->
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <!-- tab 1 -->
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="faq-tab1">
                            <div class="faq-wrapper-content">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <div class="faq-img">
                                            <img src="~/Content/Front/assets/img/faq/faq.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="accordion" id="accordion1">
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading1">
                                                    <button class="accordion-button" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapse1"
                                                            aria-expanded="true" aria-controls="collapse1">
                                                        <span><i class="far fa-question"></i></span>What is helphand?

                                                    </button>
                                                </h2>
                                                <div id="collapse1" class="accordion-collapse collapse show"
                                                     aria-labelledby="heading1" data-bs-parent="#accordion1">
                                                    <div class="accordion-body">
                                                        Helphand is a community-driven platform dedicated to helping
                                                        people in need through donations, volunteering, and support
                                                        services. We connect kind-hearted individuals with those facing
                                                        challenges—making it easy to give and receive help.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading2">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapse2"
                                                            aria-expanded="false" aria-controls="collapse2">
                                                        <span><i class="far fa-question"></i></span> How does helphand
                                                        work?

                                                        ?
                                                    </button>
                                                </h2>
                                                <div id="collapse2" class="accordion-collapse collapse"
                                                     aria-labelledby="heading2" data-bs-parent="#accordion1">
                                                    <div class="accordion-body">
                                                        OpenHandss connects individuals and organizations who want to
                                                        give help with those who need it. You can:

                                                        Request help for basic needs or emergencies
                                                        Volunteer your time or skills
                                                        Donate funds or supplies
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading3">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapse3"
                                                            aria-expanded="false" aria-controls="collapse3">
                                                        <span><i class="far fa-question"></i></span>Who can join
                                                        helphand?


                                                    </button>
                                                </h2>
                                                <div id="collapse3" class="accordion-collapse collapse"
                                                     aria-labelledby="heading3" data-bs-parent="#accordion1">
                                                    <div class="accordion-body">
                                                        Anyone can join! Whether you're looking for help or want to
                                                        support others, helpshand welcomes individuals, families, and
                                                        nonprofit organizations from all backgrounds.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="accordion-item">
                                                <h2 class="accordion-header" id="heading3">
                                                    <button class="accordion-button collapsed" type="button"
                                                            data-bs-toggle="collapse" data-bs-target="#collapse3"
                                                            aria-expanded="false" aria-controls="collapse3">
                                                        <span><i class="far fa-question"></i></span>Is helphand free to
                                                        use?



                                                    </button>
                                                </h2>
                                                <div id="collapse3" class="accordion-collapse collapse"
                                                     aria-labelledby="heading3" data-bs-parent="#accordion1">
                                                    <div class="accordion-body">
                                                        Yes. helphand is completely free to use. There are no charges
                                                        for creating an account, requesting help, or offering support.
                                                        100% of donations go to verified causes.

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- tab 2 -->
                        <!-- <div class="tab-pane fade" id="tab2" role="tabpanel"
                                aria-labelledby="faq-tab2">
                                <div class="faq-wrapper-content">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="faq-img">
                                                <img src="assets/img/faq/faq.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="accordion" id="accordion2">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading4">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                                            <span><i class="far fa-question"></i></span> Do I Need A Business Plan ?
                                                        </button>
                                                    </h2>
                                                    <div id="collapse4" class="accordion-collapse collapse show"
                                                        aria-labelledby="heading4" data-bs-parent="#accordion2">
                                                        <div class="accordion-body">
                                                            We denounce with righteous indignation and dislike men who
                                                            are so beguiled and demoralized by the charms of pleasure of the moment, so
                                                            blinded by desire.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading5">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                                            <span><i class="far fa-question"></i></span> How Long Should A Business Plan Be
                                                            ?
                                                        </button>
                                                    </h2>
                                                    <div id="collapse5" class="accordion-collapse collapse" aria-labelledby="heading5"
                                                        data-bs-parent="#accordion2">
                                                        <div class="accordion-body">
                                                           We denounce with righteous indignation and dislike men who
                                                            are so beguiled and demoralized by the charms of pleasure of the moment, so
                                                            blinded by desire.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading6">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#collapse6" aria-expanded="false"
                                                            aria-controls="collapse6">
                                                            <span><i class="far fa-question"></i></span> What Payment Gateway You Support ?
                                                        </button>
                                                    </h2>
                                                    <div id="collapse6" class="accordion-collapse collapse"
                                                        aria-labelledby="heading6" data-bs-parent="#accordion2">
                                                        <div class="accordion-body">
                                                           We denounce with righteous indignation and dislike men who
                                                            are so beguiled and demoralized by the charms of pleasure of the moment, so
                                                            blinded by desire.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        <!-- tab 3 -->
                        <!-- <div class="tab-pane fade" id="tab3" role="tabpanel"
                                aria-labelledby="faq-tab3">
                                <div class="faq-wrapper-content">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="faq-img">
                                                <img src="assets/img/faq/faq.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="accordion" id="accordion3">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading7">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#collapse7" aria-expanded="true" aria-controls="collapse7">
                                                            <span><i class="far fa-question"></i></span> Do I Need A Business Plan ?
                                                        </button>
                                                    </h2>
                                                    <div id="collapse7" class="accordion-collapse collapse show"
                                                        aria-labelledby="heading7" data-bs-parent="#accordion3">
                                                        <div class="accordion-body">
                                                            We denounce with righteous indignation and dislike men who
                                                            are so beguiled and demoralized by the charms of pleasure of the moment, so
                                                            blinded by desire.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading8">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                                                            <span><i class="far fa-question"></i></span> How Long Should A Business Plan Be
                                                            ?
                                                        </button>
                                                    </h2>
                                                    <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
                                                        data-bs-parent="#accordion3">
                                                        <div class="accordion-body">
                                                           We denounce with righteous indignation and dislike men who
                                                            are so beguiled and demoralized by the charms of pleasure of the moment, so
                                                            blinded by desire.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading9">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#collapse9" aria-expanded="false"
                                                            aria-controls="collapse9">
                                                            <span><i class="far fa-question"></i></span> What Payment Gateway You Support ?
                                                        </button>
                                                    </h2>
                                                    <div id="collapse9" class="accordion-collapse collapse"
                                                        aria-labelledby="heading9" data-bs-parent="#accordion3">
                                                        <div class="accordion-body">
                                                           We denounce with righteous indignation and dislike men who
                                                            are so beguiled and demoralized by the charms of pleasure of the moment, so
                                                            blinded by desire.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                        <!-- tab 4 -->
                        <!-- <div class="tab-pane fade" id="tab4" role="tabpanel"
                                aria-labelledby="faq-tab4">
                                <div class="faq-wrapper-content">
                                    <div class="row align-items-center">
                                        <div class="col-md-6">
                                            <div class="faq-img">
                                                <img src="assets/img/faq/faq.png" alt="">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="accordion" id="accordion4">
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading10">
                                                        <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#collapse10" aria-expanded="true" aria-controls="collapse10">
                                                            <span><i class="far fa-question"></i></span> Do I Need A Business Plan ?
                                                        </button>
                                                    </h2>
                                                    <div id="collapse10" class="accordion-collapse collapse show"
                                                        aria-labelledby="heading10" data-bs-parent="#accordion4">
                                                        <div class="accordion-body">
                                                            We denounce with righteous indignation and dislike men who
                                                            are so beguiled and demoralized by the charms of pleasure of the moment, so
                                                            blinded by desire.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading11">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#collapse11" aria-expanded="false" aria-controls="collapse11">
                                                            <span><i class="far fa-question"></i></span> How Long Should A Business Plan Be
                                                            ?
                                                        </button>
                                                    </h2>
                                                    <div id="collapse11" class="accordion-collapse collapse" aria-labelledby="heading11"
                                                        data-bs-parent="#accordion4">
                                                        <div class="accordion-body">
                                                           We denounce with righteous indignation and dislike men who
                                                            are so beguiled and demoralized by the charms of pleasure of the moment, so
                                                            blinded by desire.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion-item">
                                                    <h2 class="accordion-header" id="heading12">
                                                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                                            data-bs-target="#collapse12" aria-expanded="false"
                                                            aria-controls="collapse12">
                                                            <span><i class="far fa-question"></i></span> What Payment Gateway You Support ?
                                                        </button>
                                                    </h2>
                                                    <div id="collapse12" class="accordion-collapse collapse"
                                                        aria-labelledby="heading12" data-bs-parent="#accordion4">
                                                        <div class="accordion-body">
                                                           We denounce with righteous indignation and dislike men who
                                                            are so beguiled and demoralized by the charms of pleasure of the moment, so
                                                            blinded by desire.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- faq area end -->
    <!-- quote area -->
    <div class="quote-area py-120">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="quote-img wow animate__animated animate__fadeInLeft" data-wow-duration="1s"
                         data-wow-delay=".25s">
                        <img src="~/Content/Front/assets/img/quote/01.png" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="quote-form wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                         data-wow-delay=".25s">
                        <h2>Get In Touch</h2>
                        <p>
                            It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.
                        </p>
                        <form action="#">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Email">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your Subject">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea cols="30" rows="5" class="form-control"
                                                  placeholder="Your Message"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <button type="submit" class="theme-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- quote area end -->


</main>
<!--#INCLUDE FILE="foot.asp"-->
